{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}

	<div class="container">

		<!-- Tabs navs -->
		<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist"><!-- start board tab -->
			<li class="nav-item" role="presentation">
				<a class="nav-link active d-flex justify-content-between align-items-center edit" edit="true" id="ex2-tab-1" data-mdb-toggle="tab"
				   href="#ex2-tabs-1" role="tab" aria-controls="ex2-tabs-1" aria-selected="true">Board 1<span class="dropdown-toggle" data-mdb-toggle="dropdown"></span>
					<ul class="dropdown-menu">
						<li class="dropdown-item">Edit</li>
						<li class="dropdown-item">Delete</li>
					</ul>
				</a>
			</li><!-- end board tab -->
			<li class="nav-item" role="presentation"><!-- start board tab -->
				<a class="nav-link d-flex justify-content-between align-items-center edit" edit="true" id="ex2-tab-2" data-mdb-toggle="tab"
				   href="#ex2-tabs-2" role="tab" aria-controls="ex2-tabs-2" aria-selected="false">Board 2<span class="dropdown-toggle" data-mdb-toggle="dropdown"></span>
					<ul class="dropdown-menu">
						<li class="dropdown-item">Edit</li>
						<li class="dropdown-item">Delete</li>
					</ul>
				</a>
			</li><!-- end board tab -->
			<li class="nav-item d-inline" role="presentation"><!-- edit board name -->
				<a class="nav-link justify-content-between align-items-center" id="ex2-tab-3" data-mdb-toggle="tab" href="#ex2-tabs-3" role="tab" aria-controls="ex2-tabs-3" aria-selected="false"><input type="text" maxlength="20" placeholder="Board 3"></a>
			</li>
			<li class="nav-item" role="presentation"><!-- add new board  -->
				<a class="nav-link text-primary" id="ex2-tab-3" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fas fa-plus"></i></a>
			</li>

		</ul>
		<div class="tab-content" id="ex2-content">
			<div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1"><!-- start cards container -->

				<div class="container">
					<div class="row">
						<div class="col-md"><!-- start card  -->
							<div class="list-group">
								<div edit="true" class="edit list-group-item list-group-item-action d-flex justify-content-between align-items-center fw-bold">
									Card Title<span class="dropdown-toggle" data-mdb-toggle="dropdown"></span>
									<div class="dropdown-menu">
										<span class="dropdown-item">Edit</span>
										<span class="dropdown-item">Delete</span>
									</div>
								</div>
								<div edit="true" class="edit list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Cras justo odio<span class="dropdown-toggle" data-mdb-toggle="dropdown" id="dropDownCardItem-1"></span>
									<div class="dropdown-menu" aria-labelledby="dropDownCardTitle-1">
										<span class="dropdown-item">Edit</span>
										<span class="dropdown-item">Delete</span>
									</div>
								</div>
								<div edit="true" class="edit list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dapibus ac facilisis in<span class="dropdown-toggle" data-mdb-toggle="dropdown" id="dropDownCardItem-1"></span>
									<div class="dropdown-menu" aria-labelledby="dropDownCardTitle-1">
										<span class="dropdown-item">Edit</span>
										<span class="dropdown-item">Delete</span>
									</div>
								</div>
								<div edit="true" class="edit list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Morbi leo risus<span class="dropdown-toggle" data-mdb-toggle="dropdown" id="dropDownCardItem-1"></span>
									<div class="dropdown-menu" aria-labelledby="dropDownCardTitle-1">
										<span class="dropdown-item">Edit</span>
										<span class="dropdown-item">Delete</span>
									</div>
								</div>
								<div edit="true" class="edit list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Porta ac consectetur ac<span class="dropdown-toggle" data-mdb-toggle="dropdown" id="dropDownCardItem-1"></span>
									<div class="dropdown-menu" aria-labelledby="dropDownCardTitle-1">
										<span class="dropdown-item">Edit</span>
										<span class="dropdown-item">Delete</span>
									</div>
								</div>
								<div edit="true" class="edit list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									MVestibulum at eros<span class="dropdown-toggle" data-mdb-toggle="dropdown"></span>
									<div class="dropdown-menu">
										<span class="dropdown-item">Edit</span>
										<span class="dropdown-item">Delete</span>
									</div>
								</div>
								<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									<input type="text" placeholder="new task"></div>
							</div>
						</div><!-- end of card  -->
						<div class="col-md"><!-- start card  -->

						</div><!-- end of card  -->
						<div class="col-md"><!-- start card  -->

						</div><!-- end of card  -->
						<div class="col-md"><!-- start new card  -->
							<div class="list-group">
								<div class="list-group-item list-group-item-action">
									<span href="#"><i class="fas fa-plus"></i> Add new card</span>
								</div>
							</div>
						</div><!-- end of new card  -->

					</div>
				</div>
			</div><!-- end cards container -->

			<div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">Tab 2 content</div>
			<div class="tab-pane fade" id="ex2-tabs-3" role="tabpanel" aria-labelledby="ex2-tab-3">Tab 3 content</div>
		</div>


	</div>

	<script>
		{#const editFields = document.querySelectorAll('a[edit="true"]')#}


		{#editCardTitleLink.addEventListener('click', changeCardName)#}
		{##}
		{#function changeCardName() {#}
		{#	const editCartTitleName = editCardTitleLink.getAttribute('name');#}
		{#	const cardTitleTag = document.getElementById(editCartTitleName);#}
		{#	cardTitleTag.innerHTML = `<input type="text" placeholder="">`#}
			{##}

		document.addEventListener('dblclick', (event) => {

			let target = event.target;

			if (target.getAttribute('edit') === "true") {
				console.log(target.innerText);

				target.innerHTML = `<input type="text" placeholder=${target.innerText}>`
			}

		})


	</script>



{% endblock %}
