{% extends 'layout.html' %}
{% block title %} Board {% endblock %}
<head>
    <link rel="stylesheet" href="../static/styles.css"></head>
{% block content %}
    <div class="d-flex justify-content-start">
        <div class="container">
            <div class="row">
                <div class="col-md d-flex justify-content-center mask-custom me-3">
                    One of four columns
                </div>
                <div class="col-md d-flex justify-content-center mask-custom me-3">
                    One of four columns
                </div>
                <div class="col-md d-flex justify-content-center mask-custom me-3">
                    One of four columns
                </div>
                <div class="col-md d-flex justify-content-center mask-custom me-3">
                    One of four columns
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a tellus placerat metus venenatis tristique. Vivamus sagittis urna mi, in finibus ante vulputate suscipit. Integer auctor ante ut sem pellentesque vehicula. Etiam felis diam, lobortis vitae justo a, sodales luctus eros. Curabitur vel justo consequat, tincidunt purus sagittis, accumsan neque. Donec leo nulla, tempus ut rutrum quis, porta sed felis. Curabitur luctus diam ac tellus venenatis porttitor. Phasellus sodales viverra risus, nec commodo sem imperdiet bibendum.

    Quisque at dui magna. Suspendisse viverra nibh ac quam convallis aliquam. Proin et congue nisl. Proin feugiat ipsum ultrices feugiat tempor. Donec placerat tincidunt rutrum. Aenean feugiat, nibh aliquet aliquam consequat, urna orci ullamcorper tortor, nec placerat purus tellus ac neque. Sed id luctus ligula, eu feugiat nibh.

    Cras aliquet libero tincidunt orci sollicitudin consequat. Nam ornare leo at justo sagittis, vel vulputate felis porta. Sed ut massa dapibus, dapibus est quis, accumsan massa. Vivamus cursus leo venenatis dignissim feugiat. Fusce ut diam a enim auctor congue. Maecenas porta arcu vel nulla vulputate, in lobortis metus commodo. Morbi ultrices felis vitae felis luctus, nec venenatis eros sollicitudin.

    Sed elementum turpis id mi dictum sagittis. Vivamus bibendum faucibus tellus, non luctus purus consequat sed. Sed sit amet erat ac sem tristique rutrum id nec justo. Sed laoreet nisi risus, non vulputate eros porttitor vitae. Aenean id tincidunt mauris, sit amet fringilla justo. Quisque viverra dui metus, a fermentum ante dictum ac. Donec sed felis quis est venenatis posuere id a mauris. Phasellus mollis sollicitudin tincidunt. Aliquam id sollicitudin libero.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
