{% extends 'layout.html' %}
{% block title %} Board {% endblock %}

{% block content %}
	<div class="row" ><!-- start row -->
		<div class="col-md-10 text-center"><h2 class="text-center mb-3">Board Name </h2></div>
		<div class="col-auto mb-3">
			<div class="col-md d-inline-flex align-content-end"><!-- start new card  -->
				<span class="text-primary btn"><i class="fas fa-plus"></i> Add new card</span>
			</div><!-- end of new card  -->
		</div>
	</div><!-- end row -->
	<div class="allCards row align-items-start" id="columns_section">



	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js" integrity="sha512-ELgdXEUQM5x+vB2mycmnSCsiDZWQYXKwlzh9+p+Hff4f5LA+uf0w2pOp3j7UAuSAajxfEzmYZNOOLQuiotrt9Q==" crossorigin="anonymous"></script>
	<script type="module" src="{{ url_for('static', filename='./js/board.js') }}"></script>
{% endblock %}