{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}
	<div class="row"><!-- start title row -->
		<div class="col-md-10 text-center"><h2 class="text-center mb-3">Boards</h2></div>
		<div class="col-auto mb-3">
			<div class="col-md d-inline-flex align-content-end"><!-- start new card  -->
				<span class="text-primary btn" data-mdb-toggle="modal" data-mdb-target="#addNewBaordModal"><i class="fas fa-plus"></i> Add new board</span>
			</div><!-- end of new card  -->
		</div>
	</div><!-- end title row -->
		<!-- start modal add new board -->
		<div class="modal fade" id="addNewBaordModal" tabindex="-1" aria-labelledby="boardModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="boardModalLabel">Add new board</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="name" class="form-control" pattern="[A-Za-z]{2,99}" required/>
                            <label class="form-label" for="name">Name</label>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="textAreaExample" rows="4" name="note"></textarea>
                            <label class="form-label" for="textAreaExample" name="note">Note</label>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4" id="add_board">Save board</button>
                    </form>
				</div>
			</div>
		</div>
	</div><!-- end modal add new board -->

	<div class="container"><!-- start boards container -->
		<div class="row row-cols-1 row-cols-md-4 g-4">
			<div class="col"><!-- start board -->
				<div class="card hover-shadow border">
					<img src="https://mdbootstrap.com/img/new/standard/city/041.jpg" class="card-img-top" alt="pic"/>
					<div class="card-body">
						<h5 class="card-title">Board 1</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer text-muted  d-flex justify-content-between ">2 days ago

						<i class="fas fa-ellipsis-h" data-mdb-toggle="dropdown"></i>
						<div class="dropdown-menu">
							<span class="dropdown-item">Edit name</span>
							<span class="dropdown-item">Edit note</span>
							<span class="dropdown-item">Delete</span>
						</div>
					</div>
				</div>
			</div><!-- end board -->

			<div class="col"><!-- start board -->
				<div class="card hover-shadow border">
					<img src="https://mdbootstrap.com/img/new/standard/city/042.jpg" class="card-img-top" alt="pic"/>
					<div class="card-body">
						<h5 class="card-title">Board 2</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer text-muted  d-flex justify-content-between ">2 days ago

						<i class="fas fa-ellipsis-h" data-mdb-toggle="dropdown"></i>
						<div class="dropdown-menu">
							<span class="dropdown-item">Edit name</span>
							<span class="dropdown-item">Edit note</span>
							<span class="dropdown-item">Delete</span>
						</div>
					</div>
				</div>
			</div><!-- end board -->

			<div class="col"><!-- start board -->
				<div class="card hover-shadow border">
					<img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="pic"/>
					<div class="card-body">
						<h5 class="card-title">Board 3</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer text-muted  d-flex justify-content-between ">2 days ago

						<i class="fas fa-ellipsis-h" data-mdb-toggle="dropdown"></i>
						<div class="dropdown-menu">
							<span class="dropdown-item">Edit name</span>
							<span class="dropdown-item">Edit note</span>
							<span class="dropdown-item">Delete</span>
						</div>
					</div>
				</div>
			</div><!-- end board -->

			<div class="col"><!-- start board -->
				<div class="card hover-shadow border">
					<img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="pic"/>
					<div class="card-body">
						<h5 class="card-title">Board 4</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer text-muted  d-flex justify-content-between ">2 days ago

						<i class="fas fa-ellipsis-h" data-mdb-toggle="dropdown"></i>
						<div class="dropdown-menu">
							<span class="dropdown-item">Edit name</span>
							<span class="dropdown-item">Edit note</span>
							<span class="dropdown-item">Delete</span>
						</div>
					</div>
				</div>
			</div><!-- end board -->
		</div><!-- end boards row -->
	</div><!-- end boards container -->



	<script type="module" src="{{ url_for('static', filename='./js/index.js') }}"></script>
{% endblock %}
