{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}

	<div class="row"><!-- start title row -->
		<div class="col-md-10 text-center"><h2 class="text-center mb-3">Boards</h2></div>
		<div class="col-auto mb-3">
			<div class="col-md d-inline-flex align-content-end"><!-- start add new board  -->
				<span class="text-primary btn" data-mdb-toggle="modal" data-mdb-target="#addNewBaordModal"><i
						class="fas fa-plus"></i> Add new board</span>
			</div><!-- end of add new board  -->
		</div>
	</div><!-- end title row -->

	<div class="container"><!-- start boards_single container -->
		<div class="row row-cols-1 row-cols-md-4 g-4" id="boardSection">
		</div>
	</div>

	<!-- start modal confirm delete -->
	<div class="modal top fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
		<div class="modal-dialog modal-sm ">
			<div class="modal-content text-center">
				<div class="modal-header bg-danger text-white d-flex justify-content-center">
					<h5 class="modal-title" id="ModalLabel">Are you sure?</h5>
				</div>
				<div class="modal-body"><i class="fas fa-times fa-3x text-danger"></i></div>
				<div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-danger ripple-surface" data-mdb-dismiss="modal">No</button>
					<button type="button" class="btn btn-outline-danger ripple-surface" data-mdb-dismiss="modal" id="modalConfirmDelete">Yes</button>
				</div>
			</div>
		</div>
	</div>    <!-- end modal confirm delete -->
	<!-- start modal add new board -->
	<div class="modal fade" id="addNewBaordModal" tabindex="-1" aria-labelledby="boardModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="boardModalLabel">Add new board</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-outline mb-4">
							<input type="text" id="boardName" class="form-control" required maxlength="20">
							<label class="form-label" for="boardName" name="boardName">Name</label>
						</div>
						<div class="form-outline mb-4">
							<textarea class="form-control" id="boardNoteArea" rows="4" name="note" maxlength="30"></textarea>
							<label class="form-label" for="boardNoteArea">Note</label>
						</div>
						<button type="submit" class="btn btn-primary btn-block mb-4" id="addNewBoardBtn">Save board</button>
					</form>
				</div>
			</div>
		</div>
	</div><!-- end modal add new board -->

	<script type="module" src="{{ url_for('static', filename='./js/index.js') }}"></script>

{% endblock %}
