{# navbar #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{ url_for('boards.route_home') }}">ProMan</a>
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i></button>

			<div class="login-area">
				{% if  current_user.is_authenticated %}
					<ul class="navbar-nav d-flex flex-row">
						<li class="nav-item me-3 me-lg-0 dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-user"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="{{   url_for('users.route_logout')  }}">Logout</a></li>
							</ul>
						</li>
					</ul>
				{% else %}
					<a href="{{ url_for('users.route_login') }}" class="navbar-text text-decoration-none">Login</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
