.mask-custom {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.1);
}

.bg{
  background-image: url('colorfuljpeg.jpeg');
  height: 100%;
  background-position: center;
  background-size: cover;
}
body{
  color: black;
}
